{erl_opts, [
    warnings_as_errors
]}.

{deps, [
    {ndto, {git, "git@github.com:nomasystems/ndto.git", {branch, "main"}}}
]}.

{project_plugins, [
    {erlfmt, {git, "git@github.com:WhatsApp/erlfmt.git", {branch, "main"}}},
    {gradualizer, {git, "git@github.com:josefs/Gradualizer.git", {branch, "master"}}},
    rebar3_ex_doc
]}.
{erlfmt, [write]}.

{alias, [
    {check, [
        {fmt, "--check"},
        xref,
        dialyzer,
        gradualizer
    ]},
    {test, [
        {ct, "--spec test/conf/test.spec --cover --readable true"}
    ]},
    {doc, [
        {ex_doc, "-f html"}
    ]}
]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/nomasystems/restcheck"}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{xref_ignores, [
    restcheck_pbt
]}.
