{erl_opts, [
    warnings_as_errors
]}.

{deps, [
    {buoy, {git, "https://github.com/lpgauth/buoy.git", {branch, "master"}}},
    {erf, {git, "https://github.com/nomasystems/erf.git", {tag, "0.1.2"}}},
    {ndto, {git, "https://github.com/nomasystems/ndto.git", {tag, "0.3.1"}}},
    {njson, {git, "https://github.com/nomasystems/njson.git", {branch, "main"}}},
    {triq, {git, "https://github.com/nomasystems/triq.git", {branch, "master"}}}
]}.

{project_plugins, [
    {erlfmt, {git, "https://github.com/WhatsApp/erlfmt.git", {branch, "main"}}},
    {gradualizer, {git, "https://github.com/josefs/Gradualizer.git", {branch, "master"}}},
    rebar3_ex_doc
]}.
{erlfmt, [write]}.

{dialyzer, [{warnings, [no_unknown]}]}.

{shell, [
    {apps, [restcheck]}
]}.

{alias, [
    {check, [
        {fmt, "--check"},
        xref,
        dialyzer,
        gradualizer
    ]},
    {test, [
        {ct, "--spec test/conf/test.spec --cover --readable true"}
    ]},
    {doc, [
        {ex_doc, "-f html"}
    ]}
]}.

{profiles, [
    {test, [
        {deps, [
            {elli, {git, "https://github.com/elli-lib/elli.git", {branch, "main"}}},
            {meck, {git, "https://github.com/eproxus/meck.git", {branch, "master"}}},
            {nct_util, {git, "https://github.com/nomasystems/nct_util.git", {branch, "main"}}}
        ]}
    ]}
]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        {"CONTRIBUTING.md", #{title => "Contributing"}},
        {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/nomasystems/restcheck"},
    {prefix_ref_vsn_with_v, false}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{xref_ignores, [
    restcheck,
    restcheck_client,
    restcheck_pbt,
    restcheck_schema,
    restcheck_suite,
    restcheck_triq
]}.

{gradualizer_opts, [
    {exclude, [
        "src/restcheck.erl",
        "src/restcheck_client.erl",
        "src/restcheck_schema.erl",
        "src/restcheck_triq.erl"
    ]}
]}.
