{erl_opts, [
    warnings_as_errors
]}.

{deps, [
    {buoy, {git, "git@github.com:lpgauth/buoy.git", {branch, "master"}}},
    {ndto, {git, "git@github.com:nomasystems/ndto.git", {branch, "main"}}},
    {njson, {git, "git@github.com:nomasystems/njson.git", {branch, "main"}}}
]}.

{project_plugins, [
    {erlfmt, {git, "git@github.com:WhatsApp/erlfmt.git", {branch, "main"}}},
    {gradualizer, {git, "git@github.com:josefs/Gradualizer.git", {branch, "master"}}},
    rebar3_ex_doc
]}.
{erlfmt, [write]}.

{shell, [
    {apps, [restcheck]}
]}.

{alias, [
    {check, [
        {fmt, "--check"},
        xref,
        dialyzer,
        gradualizer
    ]},
    {test, [
        {ct, "--spec test/conf/test.spec --cover --readable true"}
    ]},
    {doc, [
        {ex_doc, "-f html"}
    ]}
]}.

{profiles, [
    {test, [
        {deps, [
            {elli, {git, "git@github.com:elli-lib/elli.git", {branch, "main"}}},
            {meck, {git, "git@github.com:eproxus/meck.git", {branch, "master"}}},
            {nct_util, {git, "git@github.com:nomasystems/nct_util.git", {branch, "main"}}}
        ]}
    ]}
]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/nomasystems/restcheck"}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{xref_ignores, [
    restcheck_pbt,
    restcheck_client
]}.
